{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "auto"
}